@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 51, 51);
}

/*------TIPOGRAFIAS ------*/

.lato {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.fw300 {
    font-weight: 300;
}

.fw700 {
    font-weight: 700;
}

header {
    background-color: rgb(40, 40, 40);
    height: 80px;
    /*altura*/
    width: 100%;
    /*ancho*/
    margin: auto;
    /* me sirve para centrar un elemento que no ocupe el 100% de ancho*/
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .marca {
    color: white;
    font-size: 20pt;
}

header .social {
    font-size: 26pt;
}

.social a {
    text-decoration: none;
    margin: 0 10px;
    color: gray
}

.social a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(124, 164, 189);
}

.contenedor {
    margin: auto;
    display: flex;
    /*habilita flexbox al contenido de mi selector*/
    gap: 10px; /*similar a MARGIN*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card { 
    position: relative;
    flex: 1 0 300px;  background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
   height: 500px; 
    /*forma abreviada de utilizar las 3 propiedades que vienen a continuación*/
    /*flex-grow:1;permite o no que el contenedor se agrande siempre que haya espacio*/
    /*flex-shrink: 0; /*permite o no que el contenedor se achique*/
    /*flex-basis: 100px; /*permite definir un ancho o alto fijo*/
    /* width: 60%; */
    /* height: 500px; */
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
}

.card .imagen {
    width: 100%;
    height: 200px;
    background-color: red;
    margin-bottom: 10px;
}

.card .titulo {
    font-size: 18pt;
}

.card .boton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    background-color: gray;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-size: 12pt;

}

.card .boton:hover {
    box-shadow: 0 0 5px black
}



footer {
    /*VERIFICAR margin-bottom CUANDO AGREGUE CONTENIDO A .contenido*/
    height: 60px;
    width: 100%;
    background-color: rgba(18, 21, 19, 0.742);
    position: fixed;
    bottom: 0;
    color: white;
    line-height: 60px;
    text-align: center;
}

.contenido {
    height: 800px;
    width: 80%;
    margin: auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    margin-bottom: 60px;
 


}