@media screen and (max-width:662px) {

    .contenido {
        width: 100%;
        height: auto;
        padding: 14px;
    }

    .contenedor {
        
        flex-direction: column;
    }


    .card {
        flex: 1 0 400px;
    }

    footer h1 {
        font-size: 12pt;
    }

    header {
        height: 40px;
        padding: 0px 20px;
    }

    header .marca,
    header .social {
        font-size: 14pt;
    }

    /* .hide_mobile{
        display: none;
    } */





}