@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');

/*de esta manera estoy importando desde GOogle Fonts una o varias familias tipográficas*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: rgb(109, 223, 185);
    ;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 171, 142);
    ;
}


/*TIPOGRAFIAS*/
.lato {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw700 {
    font-weight: 700;
}

/* estilos para imagenes de fondo */
.♥ {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-----estilos del proyecto-------*/

.portada {
    position: relative;
    background-image: url(../img/resto1.jpg);
    background-color: aquamarine;
    padding: 7%;
    color: white;
    box-shadow: inset 0 0 800px rgb(0, 0, 0);
    height: 350px;
}

.portada .texto {
    position: absolute;
    bottom: 70px;

}

.busqueda {
    position: absolute;
    padding: 0px;
    bottom: -20px;
    background-color: rgb(255, 255, 255);
    width: 86%;
    height: 60px;
    margin: auto;
    box-shadow: 0 18px 20px -15px rgba(0, 0, 0, 0.379);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;

}

.busqueda .icono {
    background-color: rgb(149, 205, 186);
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    /*centrar verticalmente texto, utilizar el mismo valor de HEIGHT*/
}

.icono.material-icons-outlined {
    font-size: 24pt;
}

.busqueda input[type="submit"] {
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    font-size: 24pt;
    background-color: transparent;

}

.busqueda input[type="search"]::placeholder {
    color: rgba(149, 66, 66, 0.5) !important;
}

.busqueda input[type="search"] {
    height: 100%;
    width: calc(100% - 120px);
    text-align: center;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 12pt;
    text-transform: uppercase;
}

.busqueda input[type="search"]:focus {
    font-size: 14pt;



}

.busqueda input[type="submit"]:active {
    font-size: 20pt;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.131);



}








/*------------FIN PORTADA-----------*/
.menu {
    margin-top: 20px;

    padding: 20px;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

.menu ul li {
    flex: 0 0 100px;
    text-align: center;
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
}



/*----------FIN MENU---------*/

.productos {
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

.restos {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    padding: 10px;

}

.card {
    display: flex;
    flex: 1 0 160px;
    width: 90%;
    background-color: aqua;

}

.card .img {
    flex: 0 0 40%;
    background-color: brown;
    overflow: hidden;
}

.img>img {

    object-fit: cover;
}

.card .datosresto {
    padding: 12px;
    flex: 0 0 60%;
    background-color: rgb(154, 120, 120);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.valores {
    display: flex;
    justify-content: space-between;
}





/*-----------FIN PRODUCTOS-----------*/

.pa {
    position: absolute;
}

.posrel {
    position: relative;
}

.valoracion {
    position: absolute;
    background-color: aquamarine;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    bottom: -20px;
    right: 20px;
    color: black;
    font-weight: 700;
    border-radius: 15px 0;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.351);

}



ul {
    list-style: none;
}

main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

main ul {
    display: flex;
    justify-content: space-around;
}

main ul li {
    text-align: center;
}

.nav_mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav_mobile ul {
    display: flex;
    /*aplica FLEXBOX al contenedor*/
    justify-content: space-around;
    /*separa los elementos de manera proporcionada al espacio disponible*/

}

.nav_mobile ul li {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.nav_mobile a {
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.nav_mobile ul li:hover {
    color: black;
    border-top: solid 4px aquamarine
}

/* PROPIEDADES PARA menu.html */

.banner {
    width: 100%;

    padding: 10px;
}

.banner button {
    left: 20px;
    background-color: transparent;
    border: 0;
    padding: 10px;
}

.banner button:hover {
    background-color: aquamarine;
}

.item_menu {
    background-color: blueviolet;
    width: 100%;
}

.plato {
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.item_menu span {
    background-color: orange;
}


/* ordenamiento de elementos*/
.flex {
    display: flex;
}

.centrar_vert {
    align-items: center;
}

.centrar_h {
    justify-content: center;
}

/* PROPIEDADES GENERALES PARA EL LINK */
a {
    text-decoration: none;
}

/* CUANDO SE POSICIONA EL CURSOR SOBRE EL LINK */
a:hover {}

/* LINK ES ESTADO INICIAL DEL LINK Y ACTIVE CUANDO SE DA CLICK LINK */
a:link,
a:active {}

/* ESTADO EL LINK HA SIDO CLICKEADO CON ANTERIORIDAD*/
a:visited {}

.producto {
    height: 450px;
    width: 100%;
    overflow: hidden;
    background-color: yellow;    
}

.obj_fit {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.producto .titulo{
    z-index: 1; /*nivel de capa del elemento*/
    background-color: red;
    width: 70%;
    bottom: 0;
    margin: auto;
}







