@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

/*TIPOGRAFIAS*/
.lato {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw700 {
    font-weight: 700;
}

/* estilos para imagenes de fondo */
.♥ {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-----estilos del proyecto-------*/

.portada {
    position: relative;
    /* background-image: url(../img/resto1.jpg); */
    background-color: aquamarine;
    padding: 7%;
    color: white;
    box-shadow: inset 0 0 800px rgb(0, 0, 0);
    height: 350px;
}

.busqueda {
    position: absolute;
    padding: 0px;
    bottom: -20px;
    background-color: rgb(255, 255, 255);
    width: 86%;
    height: 60px;
    margin: auto;
    box-shadow: 0 18px 20px -15px rgba(0, 0, 0, 0.379);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
   overflow: hidden;

}

.busqueda .icono {
    background-color: rgb(149, 205, 186);
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    /*centrar verticalmente texto, utilizar el mismo valor de HEIGHT*/
}

.icono.material-icons-outlined {
    font-size: 24pt;
}

.busqueda input[type="submit"] {
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    background-color: transparent;

}

.busqueda input[type="search"] {
    height: 100%;
    width: calc(100% - 120px);
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 12pt;
}
.busqueda input[type="search"]:focus {
       font-size: 14pt;
       
}
.busqueda input[type="submit"]:active {
    font-size: 24pt;
    
}









/*------------FIN PORTADA-----------*/
.menu {
    background-color: rgb(28, 234, 165);
    padding: 20px;
}

/*----------FIN MENU---------*/

.productos {
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

/*-----------FIN PRODUCTOS-----------*/